
   .nav-bar-detail{
    cursor: pointer;
    color:white;
    font-family: 'Anton', sans-serif;
    font-family: 'Luckiest Guy', cursive;
 
    font-size: 40px;
}
.barraEstilos{
    background-color:chocolate;
}