
<nav class="navbar navbar-default barraEstilos">
  <div class="container-fluid">
    <!-- style menu -->
    <!-- Boobstrab -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="nav-bar-detail" (click)="Navegacion('')">Home</a></li>
        <li><a class="nav-bar-detail" (click)="Navegacion('users')">User</a></li>        
        <li><a class="nav-bar-detail" (click)="Navegacion('formulario')" >Forms</a></li>
      </ul>   
    </div>
  </div>
</nav>
<router-outlet></router-outlet>









